.main-page {
    background-color: #fff;
    height: 100%;
}

.box {
    padding: 15px;
}

.box>div {
    /* display: inline; border: 0; */
    /* display: inline-block; */
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: 0 10px 16px 10px rgba(197, 197, 197, 0.18);
    border-radius: 3px;
}

